.shippingInfoContainer {
    flex: 1;
    margin-right: 0.5rem;
    background-color: rgba(59, 62, 64, 0.5);
    border-radius: 8px;
    padding: 0.5rem;
}

.selectInputBackground {
    background-color: rgba(59, 62, 64, 0.5);
    color: rgba(255, 255, 255, .87);
}

.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.flexColumn div {
    margin: 1rem;
}

.flexRow {
    display: flex;
    justify-content: space-evenly;
}

.labelWidth {
    padding-top: 0rem;
    padding-bottom: 1rem;
}

table {
    width: 80%;
    margin: 0 auto;
}

.flexContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.25rem auto auto 2rem;
}

.flexContainer input,
.flexContainer select {
    width: 300px;
    padding: 1rem;
    border: none;
}

.errorMessage {
    padding-left: 1rem;
    color: #cf6679;
}