.cartFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.buttonDisplay {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem auto;

}

@media only screen and (max-width: 700px) {
    .cartFlex {
        justify-content: center;
        align-items: center;
    }

    .cartFlex > div {
        margin: 1rem;
    } 
}