.codeStoreContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cardContainer {
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 0 20px 5px rgba(0, 0 , 0, 0.5);
    padding: 1rem;
    min-width: 225px;
    margin: 1rem;
    text-align: center;
}