.codeStoreContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
}

.cardContainer {
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 0 20px 5px rgba(0, 0 , 0, 0.5);
    width: 240px;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

.cardContainer img {
    width: 100%;
    height: 100px;
}

.cartCenter {
    margin: 1rem auto;
    text-align: center;
}

.directions {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 8px;
}

.directions > * {
    text-align: center;
}