
.formContainer {
    position: relative;
}

.direction {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
}

.flexContainer,
.formContainer {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    max-width: 300px;
    justify-content: center;
}

.flexContainer .input,
.flexContainer .width {
    max-width: 300px;
}

.flexContainer .input {
    border: 1px solid #ccc;
}

.flexContainer .finePrint {
    font-size: 0.75rem;
}

.flexContainer .marginAndPadding{
    margin: 0.25rem 0;
    padding: 0.25rem;
}

.flexContainer .error {
    color: red;
    font-size: 0.75rem;
}

.flexContainer .generalError {
    display: none;
}

/* .flexContainer .input */ .redError {
    background-color: rgba(255, 0, 0, 0.1);
    border: solid 1px red;
}

.redTransparentError {
    background-color: transparent;
    border: none;
}

.flexContainer input:focus {
    outline: none;
}

.surroundingLine {
    display: flex;
}

.surroundingLine:before,
.surroundingLine:after {
    content: "";
    flex: 1;
    border-bottom: 1px solid;
    margin: auto;
}

.surroundingLine:before {
    margin-right: 10px
}

.surroundingLine:after {
    margin-left: 10px
}

.flexContainer .deleteBorder {
    border: none;
    flex: 1;
}

.flexContainer .passwordWithEye {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    max-width: 300px;
    border: 1px solid #ccc;
}

.formFooter {
    font-size: 0.5rem;
    text-align: center;
}

.formFooter a {
    padding-left: 5px;
    padding-right: 5px;
}