.cardFormContainer {
    flex: 1;
    border: 1px solid black;
    margin-right: 0.5rem;
    border-radius: 8px;
    padding: 0.5rem;
}

.cardNumberContainer {
    display: flex;
}

.cardNumberTransparentBorder {
    border: none;
    background: transparent;
    padding: 1px 2px;
}

.cardNumberTransparentBorder:focus {
    outline: none;
}

.cardNumberInputBorder {
    border: 1px solid rgb(133, 133, 133);
    padding: 1px;
    position: relative;
}

.inputContainer,
.inputContainer > * {
    margin: 1rem;
}

.inputContainer label {
    display: inline-block;
    width: 150px;
}

.submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error {
    color: red;
}