.shippingInfoContainer {
    flex: 1;
    border: 1px solid black;
    margin-right: 0.5rem;
    border-radius: 8px;
    padding: 0.5rem;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.flexColumn div {
    margin: 1rem;
}

.flexRow {
    display: flex;
    justify-content: space-evenly;
}

.labelWidth {
    padding-top: 0rem;
    padding-bottom: 1rem;
}

table {
    width: 80%;
    margin: 0 auto;
}

/* table tr th {
    vertical-align: bottom;
} */

.flexContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.25rem auto auto 2rem;
}

.flexContainer input,
.flexContainer select {
    width: 300px;
    padding: 1rem;
    border: none;
    border-bottom: 1px solid #ccc;
}

.errorMessage {
    padding-left: 1rem;
    color: red;
}