.flexBox {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.flexBox .imgContainer {
    width: 25%;
    height: 4rem;
    margin-right: 0.5rem;
}

.flexBox .imgContainer img {
    width: 100%;
    height: 100%;
}

.flexBox .textBox {
    flex: 1;
}

.bottomPadding {
    padding-bottom: 0.75rem;
}

.flexPriceDiv {
    display: flex;
    justify-content: space-between;
}

.smallFont {
    font-size: 0.75rem;
}