.paymentSummaryContainer {
    width: 300px;
    border: 1px solid black;
    margin-left: 0.5rem;
    border-radius: 8px;
    padding: 0.5rem;
}

.flexShippingNumbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.paymentSummaryItemContainer {
    overflow-y: auto;
    max-height: 40vh;
}

.submitButton {
    margin-top: 1rem;
}